/* Globals */

body {
    background: #212121;
    margin: 0;
}

a {
    text-decoration: none;
    color: #9fa8da;
}

/* Overrides */

.p-grid {
    margin: 0 !important;
}

.p-tieredmenu {
    width: 100% !important;
    border: 0 !important;
}

.p-sidebar {
	padding: 0 !important;
}

/* Custom CSS */

.post-card {
    margin: 10px 0;
}

.p-card .p-card-title {
    color: transparent;
    background: -webkit-linear-gradient(70deg,#fa5cdd ,#fae07a );
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
}

.post-full-card {
    padding-top: 0;
    margin-top: 10px;
    background: transparent !important;
    padding: 0 30%;
}

.post-full-card-title {
    margin-top: 14px;
    font-size: 49px;
    text-align: center;
    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    color: transparent;
    background: -webkit-linear-gradient(70deg,#fa5cdd ,#fae07a );
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
}

.post-full-card .p-card-content {
    padding-top: 0 !important;
    color: #fbfbfb;
}

.post-card .p-card-content {
    color: #fbfbfb;
}

.post-full-card .p-card-content h1, 
.post-full-card .p-card-content h2 {
    margin-top: 53px;
    color: #fa9eac;
}

.post-full-card p {
    margin-bottom: 30px;
}

.side-nav-heading {
    text-align: center;
    color: transparent;
    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    background: -webkit-linear-gradient(45deg,#8093f1 ,#b388eb );
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 1.7vw;
}

.side-nav-close-button { 
    background: -webkit-linear-gradient(45deg, #8093f1, #b388eb) !important;
    position: fixed;
    right: 3%;
    top: 3%;
}

/* Responsive */

@media screen and (min-width: 992px){
    .side-nav-close-button {
        display: none !important;
    }
}