---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$font-light-300: 300;
$font-regular-400: 400;
$font-medium-500: 500;
$font-bold-700: 700;
$font-extra-bold-800: 800;

body {
    font-family: 'Open Sans';
}

.site-header {
    border-top: none;
    border-bottom: none;
    min-height: 55.95px;
    position: relative;
    background: linear-gradient(45deg, #3f51b5 0%, #7851a9 100%);
}

.site-title, .site-title:visited {
    color: white;
    font-family: Barlow;
    font-weight: $font-light-300;
}

.post-list-heading {
    font-family: Barlow;
    font-weight: $font-bold-700;
}

.post-list h3 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.post-list .badge-dark,
 .post-header .badge-dark {
    margin-right: 3px;
    font-weight: $font-medium-500;
    padding: 5px;
}

.post-meta {
    margin-bottom: 3px;
    margin-top: 0;
}

.post-excerpt {
    margin-top: 10px;
    color: #212121;
}

.home .card {
    margin-bottom: 30px;
}

.post h1 {
    font-family: "Barlow";
    font-weight: $font-bold-700;
    margin-top: 55px;
}

.post h2 {
    font-family: "Barlow";
    font-weight: $font-bold-700;
    margin-top: 55px;
}

.post .post-title {
    margin-top: 10px;
}

.category-home .post-list {
    list-style: decimal;
}

.category-home .post-list {
    list-style: none;
}

.category-home hr {
    margin-bottom: 30px;
}

.cp_embed_wrapper {
    margin: 33px 0px !important;
}

.code-toolbar {
    margin: 20px 0px !important;
}

.page-content img {
    display: block;
}

.btn-primary:visited {
    color: white;
}

.breadcrumb {
    margin-left: 0;
    margin-bottom: 30px;
}

.post-title {
    margin-bottom: 15px;
}

@media screen and (max-width: 800px) {
    .wrapper {
        padding-right: 30px;
        padding-left: 30px;
    }
}

.post-footer-navigation-wrapper {
    padding-top: 43px;
}

p {
    margin-top: 15px;
}

.chapter-link-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.chapter-link-wrapper .card-link {
    margin-left: 0;
    margin-right: 1.25rem;
}